.letter-btn {
    display: inline-block;
    border: 1px solid black;
    height: 35px;
    width: 35px;
    text-align: center;
    vertical-align: middle;
}

.test {
    border: 1px solid black;
}

.letter-btn p {
    font-weight: bold;
    margin-top: 6px;
}

#letters {
    margin: 0px auto;
    text-align: left;
}

.letter {
    font-size: 30px;
    color: white;
    margin: 0px 2px;
    display: inline-block;
    border-bottom: 2px solid black;
    height: 40px;
    width: 40px;
    text-align: center;
}

.picked {
    color: black;
}

.punc {
    color: black;
    border-bottom: unset;
    width: 5px;
}

.word {
    margin: 0px 10px;
    display: inline-block;
}

.space {
    border-bottom: unset;
}

#hangman img {
    width: 100%;
    height: auto;
}

#header {
    background-size: cover;
    background-image: url("https://c1.staticflickr.com/4/3224/3041177409_b438849d2b_b.jpg");
    background-repeat: no-repeat;
    }

#subtext {
    text-shadow: 1px 1px 4px black;
    color: #d3d3d3;
}

@media only screen and (min-width: 991px){
    #letters {
        position: relative;
        top: 200px;

    } 
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #hangman img{
        height: 400px;
        width: auto;
    }

    #guessed {
        position: relative;
        bottom: 378px;
        left: 133px;
    }

    #scoreboard {
        position: relative;
        bottom: 370px;
    }

    #letters {
        position: relative;
        bottom: 100px;
    }
}

